.playground{
    width: 600px;
    height: 600px;
    border:1px black solid;
   margin: 0 auto;
   margin-top: 150px;
   display: grid;
   grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

